#DB CONFIGURATION
spring.datasource.platform=postgres
spring.datasource.url=jdbc:postgresql://127.0.0.1:5432/[db_name]
spring.datasource.username=[db_username]
spring.datasource.password=[db_password]

spring.liquibase.change-log=classpath:db/changelog/db.changelog-master.xml

#FILE CONFIG
contextPath=[path-to-folder]

#JWT
app.jwtSecret=JWTSuperSecretKey
app.jwtExpirationInMs=604800000

# Monitoring (actuator)
management.endpoints.jmx.exposure.include=*
management.endpoints.web.exposure.include=*